keybinds {
    locked {
        unbind "Ctrl g"
        bind "Ctrl s" { SwitchToMode "normal"; }
    }
    normal {
        unbind "Ctrl g"

        unbind "Ctrl p"
        unbind "Ctrl t"
        unbind "Ctrl n"
        unbind "Ctrl h"
        unbind "Ctrl o"

        bind "Esc" { SwitchToMode "locked"; }
        bind "Ctrl s" {
            Write 19; // Ctrl-S
            SwitchToMode "locked";
        }

        bind "p" { SwitchToMode "pane"; }
        bind "s" { SwitchToMode "scroll"; }
        bind "t" { SwitchToMode "tab"; }
        bind "r" { SwitchToMode "resize"; }
        bind "m" { SwitchToMode "move"; }
        bind "o" { SwitchToMode "session"; }
    }
}

default_mode "locked"
 
env {
  zsh_force_login 1
}
